<h1>Merchant Discounts:</h1>


<% @bulk_discounts.each do |bulk_discount| %>
  <div>
    <section id="bulk_discount-<%= bulk_discount.id %>">
      <p>Percentage Discount: <%= bulk_discount.percentage_discount %> Quantity Threshold: <%= bulk_discount.quantity_threshold %></p> <%= button_to "Delete Bulk Discount", merchant_bulk_discount_path(@merchant, bulk_discount),method: :delete, data: { turbo_method: :delete } %>
      <%= link_to 'Details', merchant_bulk_discount_path(@merchant, bulk_discount) %>
    </section>
  <div>
<% end %>

<%= link_to 'Create A New Discount', new_merchant_bulk_discount_path(@merchant) %>